<div class="container-dialog p-2">
  <h3 class="bg-info p-1 text-white text-center rounded">{{'start.title' | translate}}</h3>

  <app-message></app-message>

  <div class="row justify-content-end align-items-center">
    <div class="col-auto">
      <button class="btn text-secondary" routerLink="/home" title="{{'common.homeToolTipText' | translate}}"><i class="pi pi-home"></i></button>
    </div>
    <app-language-switcher class="col-auto"></app-language-switcher>
  </div>

  <form role="form" class="mt-1">
    <div class="mb-3 row">
        <label for="eventType" class="form-label col-12 col-sm-2">{{'common.list.eventTypeLabel' | translate}}</label>
        <div class="col-12 col-sm-10">
          <p-listbox [multiple]="true" id="eventType" [options]="eventTypeSelectItems" [(ngModel)]="selectedEventTypes"
                     (onChange)="onEventTypeChange($event.value)" name="eventType"
                     styleClass="w-100" listStyleClass="event-type-listbox-start">
            <ng-template let-eventType pTemplate="item">
              <div #eventTypeRow [attr.id]="eventType.value.id">
                <img src="{{eventsImageDirectory}}/{{eventType.value.logoFileName}}" class="img-event-type-logo-start" alt="logo"/>
                <span class="ms-2" [class.text-secondary]="isEventTypeInactiveNotSelected(eventType.value)">{{eventType.value.displayName}}</span>
              </div>
            </ng-template>
          </p-listbox>
        </div>
    </div>
    <div class="mb-3 row">
      <label for="event" class="form-label col-12 col-sm-2">{{'common.list.eventLabel' | translate}}</label>
      <div class="col-12 col-sm-10">
        <p-listbox [multiple]="true" id="event" [options]="events" [(ngModel)]="selectedEvents"
                   optionLabel="displayName" (onChange)="onEventChange($event.value)" name="event"
                   styleClass="w-100" listStyleClass="event-listbox-start"
                   [disabled]="isEventsDisabled()" emptyMessage="{{'common.list.emptyMessage' | translate}}"></p-listbox>
      </div>
    </div>
    <div class="mb-3 row">
      <label class="form-label col-12 col-sm-2">{{'start.guessLabel' | translate}}</label>
      <div class="col-12 col-sm-10">
        <div class="row">
          <div class="col-12 col-md-6 pt-1 pb-1">
            <p-radioButton name="modeRadios" value="{{guessMode.GuessNameByPhotoMode}}"
                           [(ngModel)]="selectedGuessMode" (ngModelChange)="onModeChange($event)"
                           inputId="nameByPhoto" id="nameByPhoto"></p-radioButton>
            <label for="nameByPhoto" class="ms-2">
              {{'start.nameByPhotoLabel' | translate}}
            </label>
          </div>
          <div class="col-12 col-md-6 pt-1 pb-1">
            <p-radioButton name="modeRadios" value="{{guessMode.GuessPhotoByNameMode}}"
                            [(ngModel)]="selectedGuessMode" (ngModelChange)="onModeChange($event)"
                            inputId="photoByName" id="photoByName"></p-radioButton>
            <label for="photoByName" class="ms-2">
              {{'start.photoByNameLabel' | translate}}
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 pt-1 pb-1">
              <p-radioButton name="modeRadios" value="{{guessMode.GuessTalkBySpeakerMode}}"
                            [(ngModel)]="selectedGuessMode" (ngModelChange)="onModeChange($event)"
                            inputId="talkBySpeaker" id="talkBySpeaker"></p-radioButton>
            <label for="talkBySpeaker" class="ms-2">
              {{'start.talkBySpeakerLabel' | translate}}
            </label>
          </div>
          <div class="col-12 col-md-6 pt-1 pb-1">
            <p-radioButton name="modeRadios" value="{{guessMode.GuessSpeakerByTalkMode}}"
                            [(ngModel)]="selectedGuessMode" (ngModelChange)="onModeChange($event)"
                            inputId="speakerByTalk" id="speakerByTalk"></p-radioButton>
            <label for="speakerByTalk" class="ms-2">
              {{'start.speakerByTalkLabel' | translate}}
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 pt-1 pb-1">
            <p-radioButton name="modeRadios" value="{{guessMode.GuessCompanyBySpeakerMode}}"
                           [(ngModel)]="selectedGuessMode" (ngModelChange)="onModeChange($event)"
                           inputId="companyBySpeaker" id="companyBySpeaker"></p-radioButton>
            <label for="companyBySpeaker" class="ms-2">
              {{'start.companyBySpeakerLabel' | translate}}
            </label>
          </div>
          <div class="col-12 col-md-6 pt-1 pb-1">
            <p-radioButton name="modeRadios" value="{{guessMode.GuessSpeakerByCompanyMode}}"
                           [(ngModel)]="selectedGuessMode" (ngModelChange)="onModeChange($event)"
                           inputId="speakerByCompany" id="speakerByCompany"></p-radioButton>
            <label for="speakerByCompany" class="ms-2">
              {{'start.speakerByCompanyLabel' | translate}}
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 pt-1 pb-1">
            <p-radioButton name="modeRadios" value="{{guessMode.GuessAccountBySpeakerMode}}"
                           [(ngModel)]="selectedGuessMode" (ngModelChange)="onModeChange($event)"
                           inputId="accountsBySpeaker" id="accountsBySpeaker"></p-radioButton>
            <label for="accountsBySpeaker" class="ms-2">
              {{'start.accountsBySpeakerLabel' | translate}}
            </label>
          </div>
          <div class="col-12 col-md-6 pt-1 pb-1">
            <p-radioButton name="modeRadios" value="{{guessMode.GuessSpeakerByAccountMode}}"
                           [(ngModel)]="selectedGuessMode" (ngModelChange)="onModeChange($event)"
                           inputId="speakerByAccounts" id="speakerByAccounts"></p-radioButton>
            <label for="speakerByAccounts" class="ms-2">
              {{'start.speakerByAccountsLabel' | translate}}
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 pt-1 pb-1">
            <p-radioButton name="modeRadios" value="{{guessMode.GuessTagCloudBySpeakerMode}}"
                           [(ngModel)]="selectedGuessMode" (ngModelChange)="onModeChange($event)"
                           inputId="tagCloudBySpeaker" id="tagCloudBySpeaker"></p-radioButton>
            <label for="tagCloudBySpeaker" class="ms-2">
              {{'start.tagCloudBySpeakerLabel' | translate}}
            </label>
          </div>
          <div class="col-12 col-md-6 pt-1 pb-1">
            <p-radioButton name="modeRadios" value="{{guessMode.GuessSpeakerByTagCloudMode}}"
                           [(ngModel)]="selectedGuessMode" (ngModelChange)="onModeChange($event)"
                           inputId="speakerByTagCloud" id="speakerByTagCloud"></p-radioButton>
            <label for="speakerByTagCloud" class="ms-2">
              {{'start.speakerByTagCloudLabel' | translate}}
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3 row align-items-center">
      <label for="quantity" class="form-label col-12 col-sm-2">{{'start.quantityLabel' | translate}}</label>
      <div class="col-12 col-sm-10">
        <p-select id="quantity" [options]="quantitySelectItems" [(ngModel)]="selectedQuantity" name="quantity"
                  styleClass="w-100" emptyMessage="{{'common.list.emptyMessage' | translate}}"
                  optionLabel="label" optionValue="value">
        </p-select>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary m-1" (click)="start()"
              [class.btn-secondary]="isStartDisabled()" [disabled]="isStartDisabled()">
        {{'start.startButtonText' | translate}}
      </button>
    </div>
  </form>
</div>
