<p-menubar [model]="items" breakpoint="768px" autoDisplay="true">
  <ng-template #menuicon>
    <i class="pi pi-bars" style="font-size: 1.5rem"></i>
  </ng-template>
  <ng-template #end>
    <div class="row justify-content-end align-items-center">
      <div class="col-auto">
        <button class="btn text-secondary" routerLink="/home" title="{{'common.homeToolTipText' | translate}}"><i class="pi pi-home"></i></button>
      </div>
      <app-language-switcher (reload)="onReload()" class="col-auto"></app-language-switcher>
    </div>
  </ng-template>
</p-menubar>
