.p-tab {
  /* Decrease left, right padding for tabmenu item */
  /* padding: 1rem 1.125rem; */
  padding: 1rem 0.5rem;
}

/* Not bold inactive tabmenu item */
.p-tab:not(.p-tab-active) {
  font-weight: 400;
}

/* Add tab gap */
.p-tab:not(:first-child) {
  margin-left: 0.5rem;
}

@media (min-width: 820px) {
  .p-tab {
    /* padding: 1rem 1.125rem; */
    padding: 1rem 0.6rem;
  }
}

@media (min-width: 992px) {
  .p-tab {
    /* padding: 1rem 1.125rem; */
    padding: 1rem 0.625rem;
  }
}

@media (min-width: 1200px) {
  .p-tab {
    /* padding: 1rem 1.125rem; */
    padding: 1rem 0.75rem;
  }
}
